<div class="cv-section">
    <h3>CV</h3>
    <ul>
        <li>
            <a [routerLink]="['/education']" routerLinkActive="active">
                <span>See Education History</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/experience']" routerLinkActive="active">
                <span>See Experience History</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/certifications']" routerLinkActive="active">
                <span>See Certification</span>
            </a>
        </li>
    </ul>
</div>
